.btn-crazy{
  background-color: black;
  border: 2px;
  border-color: yellow;
  color: silver;
}

li{
  font-style: bold;
}


#designOne{
  height: vh100;
  background-color: black;
}

#homeBtns{
  border: 3px solid black;
  border-width: 1px;
  color: black;
}

#divider{

}