.btn-crazy{
  background-color: black;
  border: 2px;
  border-color: yellow;
  color: silver;
}

li{
  font-style: bold;
}

#homeBtns{
  border: 3px solid black;
  border-width: 1px;
  color: black;
}

#mainImg{
  height: 650px;
}

#travelFont{
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  margin-left: 10px;
  text-align: center;
}

#sideImgs{
  height: 216px;
}

img#sideImgs:hover {
  color: red;
}