#homeBtns{
  border: 3px solid black;
  border-width: 1px;
  color: black;
}


/* -------------- Travel Page --------------*/

#mainImg{
  height: 650px;
}

#tire{
  background-image: url(img/tires1.jpg);
}

#travelHead{
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  margin-left: 10px;
  text-align: center;
  padding-bottom: 80px;
}
#headImg {
  background-image: url(/img/pangea.jpg);
  background-size: cover;
  height: 150px;
}

#cameraMan{
  background-image: url(/img/camera.jpg);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

#cameraH1{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}

.cameraH2{
  text-align: center;
}

img#camera {

}

#travelH2{
  text-align: center;
  font-family: 'Dancing Script', cursive;
}


p{
  font-family: 'Lora', serif;
  font-size: 16px;
}


#sideImgs{
  height: 216px;
  max-width: 440px;
}

#sideBtm{
  border: 2px solid black;
  height: 270px;
  width: 440px;
}

#advertisement{
  padding-top: 100px;
  font-size: 40px;
}


.travelBtn1{
  background-color: rgba(0, 197, 255,.2);
  border-color: #ff7a78;
}

div#section2 {
  background-color: #f0f0f0;
}

#almostDivider{
  background-color: black;
  color: white;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
}

span{
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 216px;
  position: absolute;
  top: 0;
  width: 438px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}


/* -------------- Music Page --------------*/

#musicBackground{
  background-image: url(/img/musicBackground.jpg);
}

#musicNavbar{
  background-color: black;
  border: none;
  color: white;
}

#musicNav{
  background-color: black;
  opacity: .6;
  font-family: 'Slabo 27px', serif;
  font-color: white;
  height: 150px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

#musicTitle {
  font-family: 'Architects Daughter', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
}
a.musicA {
  font-family: 'Slabo 27px', serif;
  color: white;
}

#musicAlbum{
  display: block;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

#availableNow{
  color: white;
  text-align: center;
}

